@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&family=Lato:wght@100;300;400;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Livvic:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
  }

 
  body {
    font-family: 'Livvic', sans-serif;
  }
  

  
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }